<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- Náš vlastní styl -->
    <link rel="stylesheet" href="css/style.css"> 
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <h1 class="header__logo">{{title}}</h1>
    </header>
    <nav class="menu">
      <input type="checkbox" class="menu__checkbox" id= "menu-checkbox">

      <label for="menu-checkbox" class="menu-toggler"><svg width="24 " height="24" viewBox="0 0 24 24" focusable="false" class=" NMm5M"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg> Menu</label>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="/" class="menu__link">Úvod</a>
        </li>
        <li class="menu__item">
          <a href="/portfolio/" class="menu__link">Portfólio</a>
        </li>
        <li class="menu__item">
          <a href="/cenik/" class="menu__link">Ceník</a>
        </li>
        <li class="menu__item">
          <a href="/poptavka/" class="menu__link">Poptávka</a>
        </li>
        <li class="menu__item">
          <a href="/marketing/" class="menu__link">Marketing</a>
        </li>
        <li class="menu__item">
          <a href="/kontakt/" class="menu__link">Kontakt</a>
        </li>
      </ul>
    </nav>
    <main class="main">
      {{content | safe}}
    </main>
    <footer class="footer">
      &copy;2021, Nikola Doležalová
    </footer>
  </body>
</html>